doctype html
html
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Natours | #{title}
    <head>

</head>

    body 
    // HEADER
    include _header

    // CONTENT
    block content 
        h1 This is a placeholder heading

    // FOOTER
    include _footer

    //- <div class="footer">
    //-   <div class="footer__logo">
    //-     <img src="img/logo-green.png" alt="Natours logo" />
    //-   </div>
    //-   <ul class="footer__nav">
    //-     <li><a href="#">About us</a></li>
    //-     <li><a href="#">Download apps</a></li>
    //-     <li><a href="#">Become a guide</a></li>
    //-     <li><a href="#">Careers</a></li>
    //-     <li><a href="#">Contact</a></li>
    //-   </ul>
    //-   <p class="footer__copyright">
    //-     &copy; by Jonas Schmedtmann. All rights reserved.
    //-   </p>
    //- </div>
